
config EJEMPLO__XVII
    bool "Ejemplo17.c Bitwise operators example"
    default n
    help
      El archivo fuente Ejemplo16.c ejemplifica el uso algunos operadores a nive de bits.

config TEST_FOR
    bool "TestFor.c For loop example"
    default n
    help
      El archivo fuente TestFor.c
